<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site
-->

<!-- Bottom Nav -->


<footer>
   <nav class="navbar fixed-bottom navbar-dark" style="background-color: #00008B;">
    <div class="container-fluid">
      <h6 class="navbar-text">&copy;Copyright 2021.All Rights reserved.</h6>
    </div>
  </nav>
  </footer>