<!-- Bottom Nav -->


<footer>
    <nav class="navbar fixed-bottom">
    
      <h6 class="display-6 navbar-text " style="font-size: 15px; ">  &copy; Copyright  2021. All Rights Reserved. </h6>
      
    </nav>
  </footer>