<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site views
-->


<!--Main Navigation-->
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00008B;">
  
    <div class="navbar_header">
      
      <a class="navbar-brand" href="/"><img src="/Assests/images/Phoenix-Group5-Logo.jpg" width="auto" height="55" class="d-inline-block align-top" alt=""></a>
        <a class="navbar-brand">TeamPhoenix</a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">


          <% if (title=="Home") { %>
            <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home</a>
            <%} else{%>
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            <%}%>
          </li>
          <% if (title=="Surveys") { %>
            <a class="nav-link active" href="/"><i class="fas fa-poll-h"></i> Surveys</a>
            <%} else{%>
            <a class="nav-link" href="/surveys-list"><i class="fas fa-poll-h"></i> Surveys</a>
            <%}%>
          </li>
       
          
          <% if(typeof displayName == 'string' && displayName) { %>
           <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
           <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
          <% } else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
          <% } %>

      </div>
  </nav>
  </header>
 