<!--
File Name:index.ejs
Author: TeamPhoenix
Group5
Date: 2021-11-10
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main>
  <div class="p-5 text-center bg-light">
    <h1 class="display-4">Welcome to Phoenix Survey Site</h1>
    <blockquote class="blockquote">
    <p><em>Active Surveys</em></p>
    </blockquote>
    
    <a href="\surveys-list"><button type="button" class="btn btn-primary btn-sm">COVID-19 Survey Questions</button></a>
    <a href="\surveys-list"><button type="button" class="btn btn-primary btn-sm">Online Shopping Survey Questions</button></a>        
    
    
    
  </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>